# Pycharm
.idea/
.idea/*

# Jupyter stuff
.ipynb_checkpoints/
.ipynb_checkpoints/*

# R and RStudio
.Rproj.user
*.Rproj
*/*.Rproj
*/*/*.Rproj
.Rhistory
*/.Rhistory
*/*/.Rhistory

# All installation-related files
src/*egg-info/
src/*egg-info/*
*__pycache__/
*__pycache__/*
*/*/__pycache__/
*/*/__pycache__/*
src/hermes/__pycache__/
src/hermes/__pycache__/*

# Input population and model data folders
models/
models/*
output/
output/*
populations/
populations/*
